<div class="blogBox">
  <h4 class="mobileBlogBox">Cetenie</h4>
  <div class="blogBox__left" style="background-color: #e3373d">
    <div class="splide blogBoxSlider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="./img/blobBook.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="blogBox__right"
    style="
      background-color: #3ebd73;
      background-image: url('./img/blogBack.png');
    "
  >
    <div class="blogBox__right--middle">
      <h4>Cetenie</h4>
      <p>glossy cover 22 Black and White drawing pages thema podgorica</p>
      <a href="#"> MORE INFO </a>
    </div>
    <div class="blogBox__right--bottom">
      <a href="#">
        <img src="./img/pdf.png" alt="" />
        PDF PREIEW
      </a>
      <a href="#">
        <img src="./img/mapIcon.png" alt="" />
        GJDE KUPITI</a
      >
    </div>
  </div>
</div>
