<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gulp Is Awesome</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/normalize.css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="libs/splide/dist/css/themes/splide-default.min.css"
    />
    <link rel="stylesheet" href="css/main.min.css" />
  </head>

  <body>
    <header class="header">
      <div
        class="header__mobileMenu"
        style="background-image: url('./img/mobBack.png')"
      >
        <img class="closeMob" src="./img/closeMob.png" alt="" />
        <a href="#">
          <img src="./img/headerMobLogo.png" alt="" />
        </a>
        <div>
          <a class="header__navItem" href="#">O nama </a>
          <a class="header__navItem" href="#"> Bojanke </a>
          <a class="header__navItem active" href="#"> Gdje kupiti </a>
          <a class="header__navItem" href="#">Posebna izdanja </a>
          <a class="header__navItem" href="#">Kontakt</a>
        </div>
        <div class="header__socialBox d-flex">
          <div class="d-flex">
            <p>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </p>
            <div class="header__langBox">
              <div class="header__langBox--item">
                <a href="#">ENG</a>
                <div class="header__langBox--dropdown">
                  <a href="#">TR</a>
                  <a href="#">AZ</a>
                </div>
              </div>
            </div>
          </div>
          <a href="tel:office@cs-cassiopeia.me">office@cs-cassiopeia.me </a>
        </div>
      </div>
      <div class="container">
        <div class="header__flexBox d-flex justify-content-between">
          <a class="header__logo" href="#">
            <img src="../img/headerLogo.png" alt="" />
          </a>
          <nav class="header__nav d-flex">
            <button class="header__mobBtn">
              <img src="./img/mobMenu.png" alt="" />
            </button>
            <a class="header__navItem active" href="#">O nama </a>
            <a class="header__navItem" href="#"> Bojanke </a>
            <a class="header__navItem" href="#"> Gdje kupiti </a>
            <a class="header__navItem" href="#">Posebna izdanja </a>
            <a class="header__navItem" href="#">Kontakt</a>
          </nav>
        </div>
        <div class="header__socialBox d-flex justify-content-between">
          <p>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </p>
          <div class="header__langBox">
            <a href="tel:office@cs-cassiopeia.me">office@cs-cassiopeia.me </a>
            <div class="header__langBox--item">
              <a href="#">ENG</a>
              <div class="header__langBox--dropdown">
                <a href="#">TR</a>
                <a href="#">AZ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main></main>
  </body>
</html>
