<div class="relatedProduct">
  <div class="container">
    <div class="splide relatedSlider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <a href="#">
              <div class="relatedProduct__sliderBox">
                <div class="relatedProduct__imgBox">
                  <img src="./img/relatedProject.png" />
                </div>
                <div class="relatedProduct__infoBox">
                  <h4>Cetenje</h4>
                  <p>
                    glossy cover 22 Black and White drawing pages thema
                    podgorica
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
